@font-face {
  font-family: "IRANSansWeb";
  src: url("../webfonts/IRANSansWeb_Medium.eot"); /* IE */
  src: url("../webfonts/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), /* IE */
  url("../webfonts/IRANSansWeb_Medium.woff") format("woff"), /* Modern Browsers */
  url("../webfonts/IRANSansWeb_Medium.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}
:root{
  --black:#202020;
  --blue:#1a90ff;
  --orange:#ff9f1a;
}

*{
  font-family: "IRANSansWeb";
  margin: 0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  text-align: right;
  direction: rtl;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  /* background-color: #d6d6d6; */
  scroll-padding-top:6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color:var(--black);
  cursor: pointer;
  background:#fff;
  padding:.8rem 3rem;
}

.btn:hover{
  background:var(--blue);
  color:#fff;
}

.topbar .top-bar-index{
  background-position: center;
  background-size: cover;
  height:40px;
  background-image: url('../img/cisco-switch.gif')
}

header{
  top:0; left:0; right:0;
  z-index: 1000;
  background:#d8d8d8;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  color:var(--orange);
}

header .logo span{
  font-size: 1.8rem;
  color:var(--black);
}

header .navbar a{
  font-size: 1.7rem;
  color:var(--black);
  margin:0 1rem;
}

header .navbar a:hover{
  color:var(--blue);
}

header .icons a{
  font-size: 2.5rem;
  color:var(--black);
  margin-left:1.5rem;
}

header .icons a:hover{
  color:var(--blue);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 5px 10px;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  color:var(--blue);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



#menu-bar{
  font-size: 2.5rem;
  padding: .5rem 1.5rem;
  color:var(--black);
  cursor: pointer;
  display: none;
}

#menu-bar:hover{
  color: var(--blue);
}

.home{
  padding:0;
  position:relative;
}

.home .des{
  margin: 20px;
  text-align: start;
  color:var(--black);
}

.home .title{
  margin: 20px;
  font-size: 3rem;
  text-align: center;
  color:var(--black);
}

.home .title span{
  font-size: 4rem;
  color:var(--orange);
}

.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;
  flex: 1 1 30rem;
}

.products .box-container .box .content{
  padding:1.5rem;
}

.products .box-container .box img{
  height:20rem;
  filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin:8rem 2rem;
}

.products .box-container .box:hover img{
  transform: scale(1.2);
}

.products .box-container .box .content h3{
  color:var(--black);
  font-size: 1.8rem;
}

.products .box-container .box .content .price{
  color:var(--black);
  font-size: 2rem;
  font-weight: bolder;
  padding:1rem 0;
}

.products .box-container .box .content .price span{
  color:var(--blue);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i{
  font-size: 1.2rem;
  color:var(--orange);
}

footer{
  bottom:0; left:0; right:0;
  z-index: 1000;
  background:#d8d8d8;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}

footer .box-container{
  display: contents;
}

footer .box-container .box{
  flex:1 1 20rem;
}

footer .box-container .box h3{
  color:var(--orange);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

footer .box-container .box a{
  color:#666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

footer .box-container .box a:hover{
  color:var(--blue);
}



/* media queries  */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    display: none;
  }

}

@media (max-width:400px){

  html{
    font-size: 50%;
  }

  #menu-bar{
    display: block;
  }

  .title{
    font-size: 3rem;
  }

}